@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@600&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Poppins:wght@600&family=Square+Peg&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap');

.page-background {
    flex-direction: column;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://i.pinimg.com/564x/33/38/3e/33383e3e008fea56338ae520c1a9d773.jpg");
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

header h1 {
    font-size: 60px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    color: black;
    padding-top: 8px ;
    padding-bottom: 5px;
    height: 30px;
    margin-left: 10px;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
    color: cornflowerblue;
    cursor: pointer;
}

hr {
    margin-left: 10px;
    margin-right: 20px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.font-body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}

section img {
    margin-top: 20px;
    margin-bottom: 20px;
}

section h3 {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

.background {
    flex-direction: column;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://i.pinimg.com/564x/71/15/dc/7115dc5848c1b4a3423df176c6c2a5ab.jpg");
}

.font-about{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    align-items: center;
    font-size: large;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;
    max-width: max-content;
}

.source{
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}

.background-members {
    flex-direction: column;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("Https://uploads-ssl.webflow.com/5f00ac7516929863f832df2c/5f4e8a43f2a3bc5276ccb35a_24.%20Sky%20Blue.jpg");
}

.title {
    font-size: 40px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    padding-top: 8px ;
    padding-bottom: 5px;
    height: 30px;
    margin-left: 10px;
}

.profile {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 430px;
    align-items: center;
}

.albumbackground {
    flex-direction: column;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://uploads-ssl.webflow.com/5f00ac7516929863f832df2c/5f4bfbcbb2f92145c5b96518_06.%20Wisteria.jpg");
}

.dream-profile{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 360px;
    align-items: center;
}

.album{
    align-items: center;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    margin-top: 0;
    margin-left: 20px;
}

.album-list{
    align-items: center;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px; 
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}